// COLORS
$color-white: #fff;
$color-black: #000;

$color-primary: #000046;
$color-secondary: #1cb5e0;

$color-grey: #999;

// Tints
$color-white-light: #e6e6e6;

$color-secondary-dark-medium: #1691b3;

$color-primary-light: #1a1a59;
$color-subheading: #aeaeae;
$color-grey-dark: #424242;
$color-footer: #767676;

// Margins Helper
$margin-section-top: 9.6rem;
